/* Centers Kaboom Canvas */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    margin-bottom: 15px;
}

p {
    max-width: 500px;
    text-align: center;
}