body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(200, 199, 199);
}
h1 {
  color: black;
}
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.standard-box {
  width: 220px;
  height: 150px;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(0, 123, 60);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.example-box {
  background-color: rgb(35, 35, 255);
}

.standard-box:hover {
  background-color: black;
}

.menu-return-button {
  background-color: white;
  width: 200px;
  height: 200px;
}

.level-title {
  margin-bottom: 12px;
  font-weight: bold;
}

#github-container {
}

#github_icon{
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
#github_icon:hover{
  transform: scale(1.5); /* Scale up the icon on hover */

}